
  <div class="container ">
    <div class="footWrap defaultPadding">
      <div class="row">
        <!-- Company Info -->
        <div class="col-lg-3 col-sm-6 mb-4 mb-md-0">
          <a class="footer-brand" href="index.html">
            <img src="../image/VarniLogo.avif" alt="Varni Digital logo">
          </a>
          <p>
            In Corporated in the year 2013, in Vadodara (Gujarat, India), we “Varni Digital Pvt. Ltd.” is the renowned manufacturer and supplier of an enhanced quality product.
          </p>
        </div>
    
     
    
        <!-- Contact Info -->
        <div class="col-lg-3 col-sm-6 emailSec">
          <h5 class="fourthH centerStyle">Get In Touch</h5>
    
          <ul class="contact-info">
            <li>
              <h6 class="fifthH"><i class="fa-solid fa-phone" aria-hidden="true"></i> Call</h6>
              <a href="tel:+916354710794"> +91 63547 10794</a>
              <span> or </span>
              <a href="tel:+917990909711">  +91 79909 09711</a>
            </li>
            <li>
              <h6 class="fifthH"><i class="fa-solid fa-envelope" aria-hidden="true"></i> Email</h6>
              <a class="emailAnchor" href="ABC@gmail.com">ABC@gmail.com</a>
            </li>
            <li>
              <h6 class="fifthH"><i class="fa-solid fa-location-dot" aria-hidden="true"></i> Address</h6>
              <a class="locationLink" target="_blank" href="https://maps.app.goo.gl/j55ADo6KSAyyb6Nt5">TF-A1-22, Akshar Pavilion Mall, Near Priya Cinema,Vasna Bhyali Main Road, Vadodara,3914109</a>
            </li>
           
          </ul>
        </div>

        <div class="col-md-6 col-lg-auto mb-4 mb-md-0 exploreLinks">
          <h5 class="fourthH centerStyle">Recently Updated products</h5>
          <div class="footerLinkWrap">
            <ul>
              <li>
                <a href="#"><i class="fa-solid fa-angles-right"></i>customize</a>
              </li>
              <li>
                <a href="#"><i class="fa-solid fa-angles-right"></i>manufacturer</a>
              </li>
              <li>
                <a href="#"><i class="fa-solid fa-angles-right"></i>water resistant</a>
              </li>
              <li>
                <a href="#"><i class="fa-solid fa-angles-right"></i>sock proof</a>
              </li>
              <li>
                <a href="#"><i class="fa-solid fa-angles-right"></i>smarthome</a>
              </li>
            
            </ul>
          </div>
      
        </div>
      </div>
    </div>
  </div>
  <div class="f-bottom effect">
    <div class="container">
      <div class="row ">
        <div class="col-12">
          <div class="inner">
            <div class="copyright text-center">
              2025 All Rights Reserved by Verni Digital | Developed by <a href="http://www.shriiitrackingsolution.com/" target="_blank"><b>Shriii&nbsp;Tracking&nbsp;Solution</b></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
