

<nav  class="navbar navbar-expand-lg bg-light">
  <div class="container header">
    <a class="navbar-brand" href="index.html">
     <img src="../image/VarniLogo.avif" alt="Varni Digital Logo">
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item ">
          <a class="nav-link " aria-current="page" href ="index.html"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about.html">About Us </a>
        </li>
    
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Products <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 48 48"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="4" d="M36 18L24 30L12 18"></path></svg>
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="OEM_AndWhiteLabeling.html">OEM & White Labeling</a></li>
            <li><a class="dropdown-item" href="edgeTouchSwitch.html">Edge Touch Switch</a></li>
            <li><a class="dropdown-item" href="touchSwitchPanel.html">Touch Switch Panel</a></li>
            <li><a class="dropdown-item" href="hotelAutomation.html">Hotel Automation</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="gallery.html">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contact.html">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

  

